<div class="small-form">

    <h1>Log In</h1>

    Not a user? create an account <%= link_to 'here', new_user_path %>

    <%= simple_form_for :session, url: login_path do |f| %>

        <%= f.input :email, label: 'Your email please' %>
        <%= f.input :password, autocomplete: "off" %>
        <div class="submit-button-wrapper">
            <%= f.button :submit, label: 'Log In' %>
        </div>
    <% end %>
</div>
