<div class='small-form'>
    <h1>Sign Up</h1>

    Already a user? Login <%= link_to 'here', login_path %>

    <%= simple_form_for User.new do |f| %>


        <div class='row'>
            <div class="col-md-6">
                <%= f.input :email, label: 'Your email please' %>
            </div>
            <div class="col-md-6">
                <%= f.input :mobile_number, label: 'Your cell number please' %>
            </div>
        </div>
        <div class='row'>
            <div class="col-md-6">
                <%= f.input :first_name, label: 'Your first name' %>
            </div>
            <div class="col-md-6">
                <%= f.input :middle_name, label: 'Your middle name please' %>
            </div>
        </div>
        <div class='row'>
            <div class="col-md-6">
                <%= f.input :last_name, label: 'Your last name please' %>
            </div>
        </div>
        <div class='row'>
            <div class="col-md-6">
                <%= f.input :password %>
            </div>
            <div class="col-md-6">
                <%= f.input :password_confirmation %>
            </div>
        </div>
        <div class='submit-button-wrapper'>
            <%= f.button :submit, label: 'Sign Up' %>
        </div>

    <% end %>
</div>
